:root {
    --gutter: 16px;
}


nav,
header,
footer {
    width: 100%;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

nav {
    margin-top: 16px;
}

nav>span,
footer>span {
    font-size: 28px;
    line-height: 35px;
}

nav>a,
footer>a {
    width: 140px;
    height: 48px;
    border-radius: 28px;
}


header {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 101px; */
}

header>h1 {
    margin: 38px auto 26px;
}

header>p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

header>p>br {
    display: inline;
}


header>picture {
    width: 327px;
    height: auto;
    margin: auto;
}

header>picture>img {
    width: 100%;
    display: block;
    margin: auto;
}

main {
    width: 100%;
    padding-bottom: 80px;
    overflow: hidden;

}

main>ul {
    display: grid;
    grid-template-rows: 120px repeat(5, 259px);
    grid-template-columns: 1fr;
    row-gap: 40px;
    /* width: 343px; */
    margin: auto var(--gutter);

}

main>ul>li {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

main>ul>li:first-of-type {
    padding: 24px 29px;
}



main>ul>li:not(:first-of-type) {
    padding: 32px 28px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

main>ul>li:first-of-type>h2 {
    font-size: 24px;
    line-height: 32px;
}

main>ul>li:not(:first-of-type)>h2 {
    padding-top: 20px;
    font-size: 16px;
    line-height: 26px;
}

main>ul>li>p {
    padding-top: 16px;
}

main>ul>li>a {
    padding-top: 20px;
}